<div class="container">
  <app-cockpit
    (addServer)="onServerAdded($event)"
    (addBlue)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr />
  <div class="row">
    <div class="col-xs-12"></div>
    <button class="btn btn-primary" (click)="onFirstChange()">
      Change first element
    </button>
    <button class="btn btn-danger" (click)="onFirstDestroy()">
      Destroy first element
    </button>
    <app-server-element
      *ngFor="let element of serverElements"
      [srvElement]="element"
      [name]="element.name"
    >
      <p #paragraph>
        <strong *ngIf="element.type === 'server'" style="color: red">{{
          element.content
        }}</strong>
        <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
      </p></app-server-element
    >
  </div>
  <app-game-control></app-game-control>
</div>
