<label>Server Name</label>
<input type="text" class="form-control" [(ngModel)]="serverName" />
<input type="text" class="form-control" [(ngModel)]="userName" />
<p>{{ userName }}</p>
<button [disabled]="emptyName()" (click)="resetName()">Reset Name</button>
<br />
<!-- (input)="onUpdateServerName($event)"-->
<button
  class="btn btn-primary"
  [disabled]="!allowStartNewServer"
  (click)="onServerCreates()"
>
  Add New Server
</button>
<!-- {{ serverCreationStatus }} -->
<p *ngIf="serverCreated; else noServer">Server {{ serverName }} Created</p>
<ng-template #noServer> <p>No server created</p></ng-template>
<app-server *ngFor="let server of servers"></app-server>
<button class="btn btn-primary" (click)="displayDetails()">
  Display Details
</button>
<p [hidden]="showSecret">My secret</p>
<p
  *ngFor="let object of audClickButton; let i = index"
  [ngStyle]="{ backgroundColor: i >= 4 ? 'blue' : '' }"
  [ngClass]="{ white: i >= 4 }"
>
  Click {{ object.id }} on {{ object.date }}
</p>
